# Unit test results
unit-tests/

.idea/
.DS_Store

# Exclude node modules, except the skruv ones.
# This is a hacky way of using .gitignore to keep them in GitHub pages
# See: https://www.bennadel.com/blog/3181-including-node-modules-and-vendors-folders-in-your-github-pages-site.htm
node_modules/*
!node_modules/skruv
node_modules/skruv/LICENSE
node_modules/skruv/README.md
node_modules/skruv/package.json

dist
.tmp
.sass-cache
bower_components
app/config.js
app/scripts/config.js
app/studio.json
app/sso/index.html
docs/generated
*.iml
*.swp
.directory
test/e2e/out
test/e2e/download
__MACOSX/

# Optional eslint/stylelint cache
.eslintcache/
.eslintcache
.stylelintcache/
.stylelintcache

# Node installation directory (used by frontend-maven-plugin)
.node/

# We added a pom => we must ignore target/
target/

.classpath
.project
.settings
.vscode
.java-version

# XTM temp dir
xtm
tmp

