h3 { margin-bottom: 1em; }

[hidden] { display: none !important; }

body {
  min-width: 1000px;
  font-size: 1.2em;
}

.crosshair-color { margin-bottom: 1rem; }

code { color: #e8912d; }

select { margin-right: 1em; }

label { text-transform: capitalize; }

button {
  margin-right: 1em;
  max-width: 15rem;
}

.submit-line {
  width: 100%;
  display: grid;
  justify-content: end;
  margin: 1em 0;
}

.form-line {
  width: 100%;
  display: grid;
  grid-template-columns: [ first second third fourth ] 1fr 1fr 1fr 1fr;
  grid-template-rows: [ all ] 1fr;
}

.form-field {
  display: grid;
  grid-template-columns: [ first second ] 1fr 1fr;
}
